<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{dataserv.count}}
    <button (click)="increment()">Increment</button>

    <!-- interpolation -->
    <div>
        {{name}}
    </div>

    <p [innerHTML]="msg"></p>

    <p>{{msg}}</p>

    <div [class]="class1">
        Hello
    </div>
    {{htmldata}}
    <div>
        <input type="text" id="name" (change)="update($event)" value="Gopi">
    </div>

    <div [ngStyle]="{'margin-top.px': 20}">
        <input type="text" id="name1" [(ngModel)]="htmldata" value="Gopi">
    </div>
    <!-- interpolation -->

    <!-- NGIF -->
    <h3>NGIF - structural direc</h3>
    <div *ngIf="showVal else hide">
        Hello!!! This is new html element
    </div>

    <ng-template #hide>
        <p>Hai!!! This is another element</p>
    </ng-template>
    <!-- NGIF -->

    <!-- NGFor and NGSwitch-->
    <h3>NGFOR-structural direc</h3>
    <div *ngFor="let ulist of userlist; let i = index">
        <p>{{i + 1}}. {{ulist.name}}</p>
        <div [ngSwitch]="ulist.gender">
            <div class="female" *ngSwitchCase="'F'">
                {{ulist.name}}
            </div>
            <div class="male" *ngSwitchCase="'M'">
                {{ulist.name}}
            </div>
            <div *ngSwitchDefault>
                {{ulist.name}}
            </div>
        </div>
    </div>
    <!-- NGFOR -->

    <!-- Input and output -->
    <h3>Parent part</h3>
    <div>
        <input type="text" name="appdata" [(ngModel)]="appdata">
           <div>
            {{childVal}}
           </div> 
        <app-hello [adata]="appdata" (cmsg)="getChild($event)">
            <h3 hcomp>This is hello content</h3>
            <p class="div2">This is second div</p>
        </app-hello>
    </div>
    <!-- Input and output -->

    <!-- Hostlistener -->
    <h1>Directives</h1>
    <h3 appColor [color] = "'lightgreen'">List of Lang</h3>
    <div *ngFor="let lang of languages; let i = index">
        <p>{{i}}. {{lang}}</p>
    </div>
    <!-- Hostlistener -->

    <!-- custom directive -->
    <div appColor [number] = "number1" [divide] = 11 >Number : {{ number1}}</div>
    <!-- custom directive -->

    <!-- pipe -->
    <h3>Default Pipe</h3>
    <div>
    Today :{{today | date:'dd-MM-yyyy'}}
    </div>
    <div>
        Number : {{num | number: '5.3-5'}}
    </div>
    <div>
        Currency : {{amount | currency:'CAD' : 'symbol' : '4.1-2' }}
    </div>
    <div>
        Percent : {{ percen | percent : '3.1-2'}}
    </div>
    <div>
        uppercase : {{ god | uppercase}}
    </div>
    <div>
        lowercase :  {{ god | lowercase}}
    </div>
    <div>
        titlecase : {{ god | titlecase}}   
   </div>
   <div>
     Json : {{ obj | json}}
   </div>
   <div>
    keyvalue : {{ obj | keyvalue | json}}
   </div>
   <div>
    arr : {{ ary | json}}
   </div>
   <div>
    slice : {{ ary | slice : 1 : -1 }}
   </div>
   <div>
    custom : {{cutom | append : ' Developer'}}
   </div>
   
 <input type="text" [(ngModel)] = "godz" #userIn>
 <button (click) = "add(userIn.value)">add</button>
   <div *ngFor="let gods of people | filter : 'gender' : 'M'">
    <p>{{gods.name}}</p>
   </div>
    <!-- pipe -->

    <!-- impurepipe-async -->
    <div>
        Async Pipe : {{ date$ | async }}
    </div>
    
    <div>
        Async promise Pipe : {{ jsonData | json}}
    </div>

    <div>
        Async Observable Pipe : {{ jsonData1 |async | json}}
    </div>
    
    <!-- impurepipe-async -->

    <!-- Observable -->
    Observable : {{obv}}
    <!-- Observable -->
    
    <!-- routing -->
    <div>
        <!-- <a href="" routerLink="/hello">Hello component</a> -->
        <button (click)="hello(12)">Navigate</button><br><br>
        
    </div>
    <!-- routing -->

    <!-- service -->
    <div>
        <label for="">Pname:</label>
        <input type="text" [(ngModel)]="pname" name="pname"><br><br>
        <label for="">Page:</label>
        <input type="text" [(ngModel)]="page" name="page"><br><br>
        <button (click) = "serviceFn()">click</button>
    </div>
    <!-- service -->

    <!-- ngtemp-cont-conte -->
    <div *ngFor = "let nums of ary">
        <!-- <span *ngIf = "(nums % 2 == 0)">{{nums}}</span> -->
        <ng-container *ngIf="(nums%2 == 0)">
            {{nums}}
        </ng-container>
    </div>

    <div>
        <ng-template [ngIf] = "false">This is ngtemplates content</ng-template>
        <div *ngIf="false else elseblock">
            <p>consdition is true</p>
        </div>
        <ng-template #elseblock>
            condition is false
        </ng-template>
    </div>
    <!-- ngtemp-cont-conte -->

    <!-- lifecycle -->
    <h1>Parent component</h1>
    <input type="text" [(ngModel)] = "onchnagecycle">
    <button (click)="show()">childcomp</button><br><br>
    <app-child *ngIf="childcp" [onchnagecycle] = "onchnagecycle">
        <p #content>ContentInit lifecycle</p></app-child>
    <!-- lifecycle -->

     <!-- Templateform -->
     <div class="container">
        <div class="heading">Template Forms</div><br>
        <div class="form-container">
            <form #myForm="ngForm" (ngSubmit)="fsubmit(myForm)">
                <div class="form-group">
                    <label for="form-group">UserName:</label>
                    <input type="text" name="uname" class="form-control" [ngModel] = "'Web technology'" required #uname1="ngModel" pattern="[a-zA-Z_ ]*$">
                </div>
                <small *ngIf="!uname1.valid && uname1.touched">Username is required</small>
                <small *ngIf="uname1.errors?.['pattern']">Username only allow text</small>
                <br>
                <div class="form-group">
                    <label for="form-group">Email:</label>
                    <input type="email" name="email" class="form-control" [(ngModel)] = "email" required email #email1="ngModel" minlength="5">
                </div>
                <small *ngIf="email1.errors && email1.touched && email1.errors?.['email']">Email is Invalid</small>
                <small *ngIf="email1.errors && email1.touched && email1.errors?.['required']">Email is required</small>
                <small *ngIf="email1.errors && email1.touched && email1.errors?.['minlength']">Email is minlen</small>
                <br>
                <div class="form-group form-check">
                    <input type="checkbox" name="terms" class="form-check" [ngModel] = "true" >
                    <label for="form-group form-check-label">Term & conditions</label>
                </div>
                <br>
                <button type="submit" class="button" [disabled]="myForm.valid">submit</button>
            </form>
            <br>
        </div>
     </div>
     <!-- Templateform -->

     <!-- reactiveform -->
     <div class="container">
        <div class="heading">Reactive Forms</div><br>
        <div class="form-container">
           <form [formGroup] = "myReact" (ngSubmit) = "getforms()">
                <div class="form-group">
                    <label for="form-label">Username:</label>
                    <input type="text" class="form-control" name="runame" formControlName = "runame"> 
                </div><br>
                <small *ngIf="!myReact.get('runame').valid && myReact.get('runame').touched">Username is not valid</small>
                <div class="form-group">
                    <label for="form-label">Email:</label>
                    <input type="email" class="form-control" name="remail" formControlName = "remail"> 
                </div><br>
                <small *ngIf="myReact.get('remail').errors && myReact.get('remail').errors?.required   && myReact.get('remail').touched">Email is required</small><br>
                <small *ngIf="myReact.get('remail').errors && myReact.get('remail').errors?.email   && myReact.get('remail').touched">Email is not valid</small>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-checkbox" name="rterm" formControlName = "rterm"> 
                    <label for="form-check-label">Terms and condition</label>
                </div><br>
                <button type="submit" class="btn btn-primary" [disabled]="myReact.valid">submit</button>
                <button type="button" class="btn btn-primary" (click)="rReact1()">Reset</button>
           </form>
        </div>
     </div>
     <!-- reactiveform -->

     <!-- templateref -->
     <div>
        <p #temp1>hello tempvariavle</p>
        <input type="text" #temp ngModel (input)="analyse(temp.value)">
        <button (click)="gettempval(temp,temp1)" [disabled]="temp.value.length === 0">click</button>
     </div>

     <div>
        Number of letter: {{temp.value.length}}
        <div *ngFor="let vow of vowel"> {{vow.letter}} : {{vow.count}}</div>
     </div>
     <!-- templateref -->

     <!-- trackby -->
     <div class="my-container">
        <div class="btn-container">
            <button (click)="refresh()">refresh</button>
        </div>
        <div class="item-container">
            <div *ngFor="let mem of member; trackBy:trackMem">
                {{mem.name}}
            </div>
        </div>
     </div>
     <!-- trackby -->

     <!-- headers -->
     <div class="conatiner">
        <header>
            <nav>
                <a href="" [ngStyle] = "{'padding.px':20,'margin.px': 10,'color':'black'}" routerLink="/child">Home</a>
                <a href="" [ngStyle] = "{'padding.px':20,'margin.px': 10,'color':'black'}">about</a>
                <a href="" [ngStyle] = "{'padding.px':20,'margin.px': 10,'color':'black'}">product</a>
                <a href="" [ngStyle] = "{'padding.px':20,'margin.px': 10,'color':'black'}">service</a>
            </nav>
        </header>
     </div>
     <!-- headers -->

     <!-- lazymod -->
     <a href="" routerLink="lazymod">Lazymod</a><br>
     <a href="" routerLink="lazyload">Lazyloading</a>
     <!-- lazymod -->

     <!-- httpintercept -->
     <div>
        <button (click)="intercep()">Button1</button>
     </div>
     <!-- httpintercept -->

     <!-- forkjoin -->
     <div>
        {{fobs}}
     </div>
     <br>
     <div>
        {{fobs2}}
     </div>
     <!-- forkjoin -->

     <!-- Promise -->
     <br>
     <div class="btn-conatiner">
        <div>
            <a href="" routerLink="/child" style="background-color:green; border: 1px solid; padding:20px">promise</a>
        </div>
     </div><br>
     <button (click)="prom1()">async</button>
     {{prome | async | json}}
     <!-- Promise -->

     <!-- rxjs -->
     <div>
        <p id="ptag">RXJS</p>
     </div>
     <!-- rxjs -->

     <p id="debounce">debouce</p>
     <p id="scan">scan</p>
     <p id="until">until</p>

    <router-outlet></router-outlet>
</body>
</html>