.female {
    background-color: pink;
    margin:5px;
}

.male {
    background-color: green;
    margin:5px;
}

.spanrow{
    color:blue;
}

input.ng-invalid.ng-touched {
   border: 1px solid red;
}

small {
    color:red;
}